# Python
- general purpose high level language
- supports varities of applications
- platform independent
- can be run in two ways
    - interactive mode
    - script mode
- interpreted language
- basic building blocks
    - input 
    - output
    - math
    - logics
    - loop

## Errors
- Syntax 
- logical 
- run-time error/exception

In [3]:
1+1

2

In [13]:
print('hello world')

hello world

In [14]:
print(1+2*3)

7

In [16]:
print('a')

a

In [17]:
print("hello")

hello

In [18]:
print('''hi''')

hi

In [19]:
print(11.9)

11.9

In [20]:
print(110)

110

# variables
- type of identifier
- named memory location
- where you store data so you can manipulate it
- names have to chosen carefully; self describing, conscise
- case sensistive
- Can't have symbols, but _ is okay
- Can have digits but can't start with one

In [27]:
var=0
var=10.5

In [28]:
print(var)

10.5

In [29]:
var1 = var + 100

In [30]:
print(var1)

110.5

In [31]:
var="hello"

In [32]:
print(var)

hello

In [33]:
type(var)

str

In [34]:
var = 1004545567675686867986759

In [35]:
type(var)

int

In [36]:
type(10.5)

float

In [1]:
type('A')

str

In [3]:
name = "John Smit"
fname = "Jake"
lname = "Doe"
Lname = "Yada"
ID = 909034
quizGrade = 99.8
print(Lname)
print(lname)

Yada
Doe

In [8]:
var = 600

In [7]:
var1 = 'A'
var2 = 'B'

In [9]:
print('''"Dori say, "Oh No!", Jack's bike is broken!"''')

"Dori say, "Oh No!", Jack's bike is broken!"

## Escape character
- \ 
- \n - new line
- \t - tab
- \\ - back slash
- \' - single quote
- \" - double quote

In [11]:
print('\\')

\

In [12]:
# Shaq O'neal
print('Shaq O\'neal')

Shaq O'neal

In [13]:
print('\'')

'

In [2]:
print('hello \n world \t this is tabbed')

hello
 world 	 this is tabbed

# Input

In [3]:
x = input()
print('x = ', x)

sdiuhfiuds
x =  sdiuhfiuds

In [7]:
name = input('What is your name? ')

What is your name? Jake Yada

In [8]:
name

'Jake Yada'

In [9]:
print('Hello there, ', name)

Hello there,  Jake Yada

In [10]:
age = input('How old are you?')
print('age = ', age)

How old are you?45
age =  45

In [11]:
age = age+1

TypeError: must be str, not int

In [12]:
type(age)

str

In [13]:
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type('hello')

str

In [16]:
type('23.43')

str

In [17]:
a = '23.43'
type(a)

str

In [18]:
a = float(a)

In [19]:
type(a)

float

In [20]:
a += 1

In [21]:
a

24.43

In [22]:
b = float(12)

In [23]:
print(type(b))
print(b)

<class 'float'>
12.0

In [24]:
c = int(a)
print(c)

24

In [25]:
round(24.99)

25

In [26]:
round(24.1)

24

In [27]:
float('hello')

ValueError: could not convert string to float: 'hello'

In [28]:
a

24.43

In [29]:
a = str(a)

In [30]:
type(a)

str

In [31]:
a

'24.43'

In [33]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

In [34]:
done = True
type(done)

bool